In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

## Load data

In [2]:
noiseless = np.array(pd.read_csv('data/hw3-data/iris.csv'))

In [3]:
noisy1 = np.array(pd.read_csv('data/hw3-data/dataI.csv'))
noisy2 = np.array(pd.read_csv('data/hw3-data/dataII.csv'))
noisy3 = np.array(pd.read_csv('data/hw3-data/dataIII.csv'))
noisy4 = np.array(pd.read_csv('data/hw3-data/dataIV.csv'))
noisy5 = np.array(pd.read_csv('data/hw3-data/dataV.csv'))

In [4]:
noisy_sets = [noisy1, noisy2, noisy3, noisy4, noisy5]

In [5]:
def mse(a, b):
    return np.sum((a - b)**2)/a.shape[0]

In [6]:
def reduce_noise(X, noisy, n_components):
    pca = PCA(n_components=n_components).fit(X)
    components = pca.transform(noisy)
    return pca.inverse_transform(components)

## Reconstruction and MSE

In [7]:
result = np.zeros((5, 10))
for i, noisy in enumerate(noisy_sets):
    for j in range(5):
        smoothed_N = reduce_noise(noiseless, noisy, j)
        mse_N =  mse(noiseless, smoothed_N)
        result[i][j] = mse_N
        smoothed_c = reduce_noise(noisy, noisy, j)
        mse_c =  mse(noiseless, smoothed_c)
        result[i][j+5] = mse_c
        
        # part 2
        if(j == 2 and i == 0):
            recon_df = pd.DataFrame(smoothed_c, columns=["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"])
            recon_df.to_csv('reports/hw3/gemengq2-recon.csv',encoding='utf-8', index=False,line_terminator='\n')    

mse_df = pd.DataFrame(result, columns=['0N', '1N', '2N', '3N', '4N', '0c', '1c', '2c', '3c', '4c'])
mse_df

,0N,1N,2N,3N,4N,0c,1c,2c,3c,4c
0,4.542471,0.641093,0.715628,0.908393,1.115658,4.549539,0.648642,0.750621,0.941973,1.115658
1,4.542471,1.290372,1.967240,2.650841,3.653280,4.557473,1.323462,2.119748,3.027380,3.653280
2,4.542471,0.799943,0.828083,0.984950,1.194000,4.566199,0.840614,1.207090,1.271192,1.194000
3,4.542471,1.917768,3.331722,4.548257,5.139267,4.919928,2.835679,4.651435,4.971247,5.139267
4,4.542471,0.383450,0.175563,0.141784,0.160838,4.543119,0.384614,0.177815,0.144441,0.160838

In [8]:
# part 1
mse_df.to_csv('reports/hw3/gemengq2-numbers.csv',encoding='utf-8', index=False,line_terminator='\n')